<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="generateQrPageIncludeStyle" th:remove="tag">
    <link href="assets/lib/bootstrap-5.0.2-dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="assets/lib/bootstrap-5.0.2-dist/css/bootstrap.css" rel="stylesheet">
</div>



<div class="page-content" style="min-height: 1601px;" th:fragment="generateQr">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <!-- BEGIN Portlet PORTLET-->
             abc
        </div>
    </div>


</div>
