<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<!-- BEGIN FOOTER -->
<div class="page-footer" th:fragment="footer">
    <div class="page-footer-inner"> <script>document.write(/\d{4}/.exec(Date())[0])</script>
        &copy; QR Code Generation System by
        <a target="_blank" href="https://quayasia.com/"> Quay Asia Ltd </a> &nbsp;|&nbsp;
        <a href="https://istlbd.com/" target="_blank">  Integrated Software and Technologies Limited (ISTL)</a>
    </div>

</div>
<!-- END FOOTER -->
