<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="htmlhead" th:remove="tag">


    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>QR Code Generation</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta content="QR Code Generation" name="description"/>
    <meta content="" name="author"/>


    <link href="assets/lib/bootstrap-5.0.2-dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="assets/lib/bootstrap-5.0.2-dist/css/bootstrap.css" rel="stylesheet">

</div>